/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Zen Loop', cursive;
    color: #fff;
}

/* 
* universal styles */ 

html, body {
    background-color: black !important;
    overflow-x:  hidden;
}

.hr-container {
    padding: 50px;
}

/* Hr style copied from youtube tutorial
link - https://www.youtube.com/watch?v=mjDek0d1kak */

.hr-lines {
    width: 100%;
    min-height: 45px;
    position: relative;
}

.hr-lines::after, .hr-lines::before {
    content: "";
    position: absolute;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    width: 40vw;
    top: 45%;
}

.hr-lines::after {
    left: 0;
}

.hr-lines::before {
    right: 0;
}


.hr-diamond {
    height: 40px;
    width: 40px;
    border: 1px solid rgb(145, 108, 16);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);

    box-shadow: 0px 0px 5px 5px rgb(218,165,32);
}


.home-sections {
    width: 100%;
    margin: 0 ;
    display: flex;
}

.content-container {
    border: 2px solid #fff;
    margin: 1%;
}

.houses-section-p, .lesson-section-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hogsmede-section, .houses-section, .lesson-section {
    margin: 3% 0;
}

.section-title {
    font-size: 6rem;
    text-align: center;
    margin: 0 auto 1%;
    text-shadow: 3px 3px #1f1f1f;
}


.image-container {
    width: 100%;

}

.home-section-p , .house-section-p {
    min-width: 60%;
    margin: 0;
    font-size: 2rem;
    padding: 1%;
    flex-grow: 3;
} 

.section-button {
    color: #000;
    font-size: 1.5rem;
    background-color: transparent;
    padding: 10px 15px;
    border: 2px solid rgb(218,165,32);
    border-radius: 2px;
    position: relative;
    margin-bottom: 2%;
}

.section-button:hover, .section-button:focus  {
    color: #fff;
    font-size: 1.5rem;
    background-color: rgba(218,165,32, 0.4);
    border: 2px solid rgba(226, 168, 21, 0.5);
}

.images {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.card-image {
    min-height: 100%;
    margin: 0;
}

.home-btn {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding: 1% 3%;
    border: solid 2px #fff;
    background-color: rgba(197, 0, 49, 0.774);
    border-radius: 5%;
    margin: 1% 0;
    box-shadow: 0px 2px 2px 2px rgba(19, 19, 19, .5);
}


.home-btn:hover, .home-btn:focus {
    border: solid 2px rgba(197, 0, 49, 0.774);
    background-color: #fff;
    box-shadow: none;
    color: #000 !important;
    transform: translateY(5px);
}



/* Navbar Styles */
.navbar {
    height: auto;
    margin: 0 auto;
    padding: 0;
    color: #fff !important;
    text-align: center;
}

.nav-links {
    width: 100%;
}

.brand {
    font-family: 'Arizonia', cursive;
    font-size: 3em;
    text-decoration: none;
    color: #fff !important;
}

.navbar-toggler-icon, .navbar-toggler {
    color: #fff !important;
    border: solid 2px rgb(218,165,32);
}

.navbar-nav {
    margin: 0 0 0 50%;
    width: 50%;
    padding: 0;
    justify-content: center;
}

.nav-link {
    font-size: 1.5em;
    color: #fff !important;

} 
.nav-item {
    color: #fff !important;
    width: 20%;

}

.brand:focus, .brand:hover, .nav-link:hover, .nav-link:focus {
    color:rgb(218,165,32) !important;
}

.active {
    border-bottom: 1px solid rgb(218,165,32) !important;
}

/* Footer Styles */
footer {
    min-width: 90vw;
    display: flex;
    flex-direction: row;
    border-top: 2px solid rgb(218,165,32);
    justify-content: space-between;
    align-items: center;
}

.footer-brand {
    margin: 1%;
}

.icons {
    display: flex;
    min-width: 5%;
    margin-right: 2%;
    justify-content: space-between;
}

.fa {
    font-size: 2rem;

}

/* Home page styles */
/* header styles */
.welcome-header {
    min-height: 90vh;
    min-width: 100vw;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)),
                      url("/assets/img/hogwarts_castle.JPG");
    animation: zoom 1s ;
    margin-bottom: 5%;
    animation-name: header-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    text-align: center;
    background-position: center;
    background-size: cover;
}


.welcome-sub-title, .welcome-title {
    background-color: transparent;
    position: relative;
    top: 300px;
}

.welcome-sub-title {
    font-size: 3rem;
}

.welcome-title {
    font-size: 6rem;
    text-shadow: 3px 3px #141414;
    font-family: 'Arizonia', cursive;
    width: 90%;
    margin: 0 auto;
}


/* About section Styles  */
.about-section {
    margin-bottom: 0%;
    flex-direction: column;
}

.about-section-p {
    max-width: 90%;
    margin: 0 auto;
    font-size: 2rem;
    padding: 1%;
}

/* Hogsmede Section Styles */

.hogsmede-section-title {
    margin-bottom: 1%;
}

.hogsmede-section-image {
    min-height: 100%;
    margin: 0;
    background-image: url("/assets/img/hogsmede.jpg");
}

.hogsmede-section-p {
    background-color: rgba(197, 0, 49, 0.774);
}


/* Houses Section Styles */
.houses-section-image {
    background-image: url("/assets/img/hogwarts_crest.jpg");
    min-height: 100%;
    background-size: 40vh;
}

.houses-section-p {
    background-color: rgba(160, 0, 40, 0.774);
}

/* Hogwarts Lesson section Styles */

.lesson-section {
    margin-bottom: 0;
}

.lesson-section-image {
    background-image: url("/assets/img/potions_class.jpg");
    min-height: 100%;
}

.lesson-section-p {
    background-color: rgba(105, 1, 27, 0.774);
}


/* Hogwarts Houses page style */

.hr-stars {
    width: 40%;
    /* height: auto; */
    margin: 2% auto;
    text-align: center;
    padding: 0;
}

.hr-stars img{
    width: 30%;
}


/* header styles */
.sub-page-header {
    width: 100%;
    min-height: 60vh;
    text-align: center;
    padding-top: 2%;
}

.sub-page-title {
    font-size: 7rem;
    text-shadow: 3px 3px #2b2b2b;
}

.houses-header {
    background-image: url("/assets/img/sorting_hat.jpg");
}


/* About hogwarts houses section */
.defence-section, .astronomy-section, .potions-section, .transfiguration-section {
    margin: 5% 0;
}

.description-section {
    width: 100%;
    min-height: 50vh;
    text-align: center;
    margin-bottom: 3%;
}

.description-title {
    font-size: 5rem;
    margin: 3% 0;
}

.description-section-p {
    width: 90%;
    margin: 0 auto;
    font-size: 2rem;
}


/* Gryffindor section */

.gryffindor-section-p {
    background-color: rgb(66, 0, 14);
}

.gryffindor-section-image {
    min-height: 100%;
    margin: 0;
    background-image: url("/assets/img/gryffindor_common_room.jpg");
}


/* Hufflepuff section */

.hufflepuff-section-image {
    min-height: 100%;
    margin: 0;
    background-image: url("/assets/img/hufflepuff_common_room.jpg");
}

.hufflepuff-section-p {
    background-color: #ac7c17;
}

/* Ravenclaw section */

.ravenclaw-section-image {
    min-height: 100%;
    margin: 0;
    background-image: url("/assets/img/ravenclaw_common_room.jpg");
}

.ravenclaw-section-p {
    background-color: #021333;
}

/* Slytherin section */

.slytherin-section-image {
    min-height: 100%;
    margin: 0;
    background-image: url("/assets/img/slytherin_common_room.jpg");
}

.slytherin-section-p {
    background-color: #0f2903;
}


/* Classes page Styles */
.classes-header {
    background-image: url("/assets/img/class.jpg");
}

/* Herbology Section */
.herbology-section-image {
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/herbology.jpg");
}

.herbology-section-p {
    background-color: #340053;
}

/* Defence against the dark arts Section */
.defence-section-image {
    background-image: url("/assets/img/patronus.JPG");
    min-height: 100%;
    margin: 0;
}

.defence-section-p {
    background-color: #00393d;
}

/* Potions class section */
.potions-section-image {
    background-image: url("https://i.pinimg.com/originals/5e/6b/3c/5e6b3c7d5d3310d8d2616c5a9c131de2.jpg");
    width: 100%;
    min-height: 100%;

}

.potions-section-p {
    background-color: #a76401;
}

/* Transfiguration Section */
.transfiguration-section-image {
    background-image: url("/assets/img/transfiguration.jpg");
}

.transfiguration-section-p {
    background-color: #3d0031;
}

/* Care of magical creatures Section */
.creatures-section-image {
    background-image: url("/assets/img/magical_creatures.JPG");
}

.creatures-section-p {
    background-color: #003d25;
}

/* Hogwarts Staff Page Styles */
/* Header Styles */
.staff-header {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a44d695a-0ed6-4668-82bc-af6493512481/d2twhql-e1c6bfa4-e58c-4777-82df-009888da3071.jpg/v1/fill/w_1600,h_996,q_75,strp/hogwarts_professors_by_belegilgalad_d2twhql-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTk2IiwicGF0aCI6IlwvZlwvYTQ0ZDY5NWEtMGVkNi00NjY4LTgyYmMtYWY2NDkzNTEyNDgxXC9kMnR3aHFsLWUxYzZiZmE0LWU1OGMtNDc3Ny04MmRmLTAwOTg4OGRhMzA3MS5qcGciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.foC1P92lDFTqJO6DafqAYeZ5qnlT02zYtPzOT6OcM_Q");
}

.head-teacher-section {
    border: solid 5px salmon;
  }
  
  .teacher-section-heading {
      color: #fff;
      font-size: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color:rgba(105, 1, 27, 0.774);
      border: solid 3px rgba(141, 4, 38, 0.774);
      height: 15vh;
      width: 100%;
  }
  
  .teacher-section {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 95%;
      margin: 0 auto;
  }
  
  .staff-card {
      color: #000;
      border: solid 3px rgb(53, 53, 53);
      border-radius: 10px;
      text-align: center;
      margin: 1%;
      width: 33%;
      background-color: rgb(214, 214, 214);
  
      height: 100%;
      padding: 0;
  }
  
  .colour-background {
      background-color:rgba(105, 1, 27, 1);
      border-radius: 10px 10px 0 0;
  }
  
  .teacher-positon {
      font-size: 2rem;
      padding: 2% 0;
      margin: 0;
  }
  
  .staff-name {
      font-size: 2.75rem;
      padding: 3% 0;
      margin: 0;
  }
  
  .teacher-img {
      border-radius: 10px;
      box-shadow: 0px 3px 3px 3px rgba(71, 1, 18, 0.9);
      margin: 2% 0;
      height: 300px;
  }
  
  .teacher-description {
      font-size: 1.25rem;
      width: 95%;
      margin: 5% auto;
      min-height: 150px;
  
      color: rgb(0, 0, 0) !important;
      font-weight: bold;
  }

/* Animation styles */
@keyframes header-zoom {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 900px) {
    nav {
        flex-direction: column;
    }

   .navbar-collapse {
        flex-direction: column;
        width: 100%;
    }

    .nav {
        display: block;
        flex-direction: row;
        width: 100%;
    }

    .icons {
        min-width: 15%;
    }

    /* Home Page Media Queries */

    .welcome-title {
        width: 90%;
        margin: 0 auto;
        font-size: 4rem;
    }
    .welcome-header {
        margin-bottom: 20%;
    }

    /* Hogwarts staff page media queries */

    .staff-card {
        width: 90% !important;
        padding: 0;
    }

    .teacher-description {
        margin: 2% auto !important; 
        font-size: 1.5rem;
    }

    .teacher-img {
        height: 400px;
    }

    .staff-header {

        background-size: 1000px 700px;
    }

}

@media only screen and (max-width: 1100px) {
    .icons {
        min-width: 10%;
    }
    .staff-header {
        min-height: 40vh;
    }

    .sub-page-title {
        text-shadow: 5px 5px 5px #000;
        font-size: 6rem;
    }
}

@media only screen and (max-width: 1200px) {
    /* Home Page Media Queries */

    .navbar-nav {
        width: 100%;
        margin: 0 auto;
    }

    .nav-item {
        color: #fff !important;
        width: 100%;
    
    }

    .welcome-header {
        height: 60vh;
        margin-bottom: 8%;
    }

        
    .welcome-sub-title, .welcome-title {
        top: 100px;
    }
    
    .welcome-sub-title {
        font-size: 2.5rem;
    }
    
    .welcome-title {
        font-size: 5rem;

    }

    .home-sections {
        flex-direction: column;
    }

    .image-container {
        height: 50vh;
    }


    /* Hogwarts houses page media queries */

    .hr-stars {
        display: none;
    }

    .description-section {
        height: auto;
        margin-bottom: 5%;
    }

    .description-section-p {
     
        height: auto;
    }

    .gryffindor-section, .ravenclaw-section, .hufflepuff-section, .slyhterin-section {
        margin: 5% 0;
    }

    /* Hogwarts Staff page media queries */
    .staff-header {
        min-height: 50vh;
    }

    .sub-page-title {
        font-weight: 600;
    }

    .teacher-section {
        flex-direction: column;
        width: 100%;
    }

    .staff-card {
        height: 100%;
        margin: 3% auto !important;
        min-width: 60%;
        padding: 0;
    }

    .teacher-description {
        margin: 2% auto !important; 
        font-size: 1.5rem;
    }

    .teacher-img {
        height: 400px;
    }
}

@media only screen and (max-width: 1400px) {
    /* Home Page Media Queries */
    .staff-header {
        min-height: 60vh;
    }

    .first-row-p {
        height: 40vh;
    }
    
}


@media screen and (max-width: 1500px){
    .icons {
        min-width: 8%;
    }

    .nav {
        max-width: 60%;
        justify-content: center;
        align-items: center;
    }
    .navbar-nav {
        min-width: 100%;
        margin: 0 auto;
    }

    .teacher-section {
        width: 100%;
    }

}

@media only screen and (max-width: 1700px) {
    .teacher-section {
        width: 100%;
        margin: 2% 0;
    }
    
    .staff-card {
        height: 100%;
        margin: 0 1%;
        width: 33%;
        background-color: rgb(214, 214, 214);
        padding: 0;
    }

    .teacher-description {
        margin: 5% auto;
        min-height: 250px;

        padding: 0;
        margin: 0;
    }

}
